.shipping-info-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(
      rgba(35, 31, 32, 0.9),
      rgba(35, 31, 32, 0.9)
    ),
    url("../../assets/borger-logo.png");
  background-color: var(--primary-color);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 70%;
  color: var(--secondary-color);
  padding: 0 60px 20px 60px;
  border: 3px solid var(--secondary-color);
  border-radius: 20px;
  width: 50%;
  height: 80%;
  min-width: fit-content;
  min-height: fit-content;
  box-sizing: border-box;
}

.shipping-modal-header {
  margin-bottom: 20px;
}

.addresses-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
}

.address-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  padding: 20px;

  margin-top: 20px;
  width: 60%;
  min-width: fit-content;
  border-radius: 5px;
  color: white;
}

.add-address-tile {
  display: flex;
  color: var(--secondary-color);
  padding: 20px 15px 20px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  border: 2px dashed #ddd;
  cursor: pointer;
}

.add-address-tile:hover {
  background-color: var(--primary-lighter);
}

.add-address-tile span {
  font-size: 50px;
  margin-bottom: 10px;
}

.address-button-wrapper {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.address-button {
  background: none;
  border: none;
  color: var(--secondary-color);
  text-decoration: underline;
  cursor: pointer;
}

.default-address-tag {
  font-weight: bold;
}

.default-check {
  color: var(--secondary-color);
  font-size: 0.8rem;
}

.address-button:hover {
  color: var(--secondary-darker);
}
