.home-container {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  cursor: default;
  border: 10px solid var(--primary-color);
}

.hero-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("/hero-image.jpg") no-repeat center center/cover;
  color: white;
  padding: 40px;
  min-height: fit-content;
  border-bottom: 5px solid var(--secondary-color);
}

.hero-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-content {
  max-width: 40%;
  padding: 2rem;
  background: linear-gradient(
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.25)
  );
  border-radius: 20px;
}

.hero-text {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-button {
  border: 3px solid var(--primary-color);
  padding: 15px 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-button:hover {
  background: var(--secondary-darker);
}

.hero-right-side {
  padding: 70px 70px 0px;
}

.sign-in-link {
  color: var(--secondary-color);
  text-decoration: underline;
  cursor: pointer;
}

.sign-in-link:hover {
  color: var(--secondary-darker);
}

.about-us-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background: linear-gradient(
    rgba(0, 0, 0),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.95)
  );
  color: white;
  font-size: 1.4rem;
}

.about-us-content {
  max-width: 45%;
  margin-bottom: 20px;
}

.about-us-container h2 {
  color: var(--secondary-color);
}

.about-left-side {
  width: 65%;
}

.about-right-side {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.employee-img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid var(--secondary-color);
}

.logo-img {
  width: 100%;
  height: auto;
}

.disclaimer-text {
  color: var(--secondary-color);
  font-size: 0.8rem;
  margin-top: 10px;
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-top: 5px solid var(--secondary-color);
  background: repeating-linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color) 10px
  );
  color: white;
}

.benefits h2 {
  text-align: center;
  font-size: 2rem;
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
}

.benefits a {
  color: var(--secondary-color);
  text-decoration: underline;
  cursor: pointer;
}

.benefits a:hover {
  color: var(--secondary-darker);
}

.benefits-text {
  display: flex;
  justify-content: space-between;
  width: 75%;
  background-color: var(--primary-color);
  padding: 50px 40px 50px 40px;

  border: 3px solid var(--secondary-color);
  border-radius: 10px;
}

.benefit {
  width: 15%;
  font-size: 1.2rem;
}

.benefit h3 {
  color: var(--secondary-color);
}

img,
button {
  user-select: none;
}

@media (max-width: 768px) {
  .about-us-container,
  .benefits-text {
    flex-direction: column;
  }

  .about-left-side,
  .about-right-side,
  .benefit {
    width: 100%;
    margin-bottom: 20px;
  }
}
