/* Basic container for the homepage */
.home-container {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  cursor: default;
  border: 10px solid var(--primary-color);
}

/* Styling for the main hero container */
.hero-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("/hero-image.jpg") no-repeat center center/cover;
  color: white;
  border-bottom: 5px solid var(--secondary-color);
  align-items: center;
}

/* Styling for the hero title */
.hero-container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Content wrapper inside the hero section */
.hero-content {
  max-width: 80%;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  margin-top: 2rem;
}

/* Main text content of the hero section */
.hero-text {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Styling for the primary call-to-action button */
.hero-button {
  border: 3px solid var(--primary-color);
  padding: 15px 25px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: 0.3s;
}

/* Hover effect for the call-to-action button */
.hero-button:hover {
  background-color: var(--primary-color);
  color: white;
  transform: scale(1.05);
}

.hero-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.member-welcome-message {
  color: var(--secondary-color);
}

.sign-in-link {
  color: var(--secondary-color);
  text-decoration: underline;
  cursor: pointer;
}

.sign-in-link:hover {
  color: var(--secondary-darker);
}

.about-us-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
  padding: 40px;
  background: linear-gradient(
    rgba(0, 0, 0),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.95)
  );
  color: white;
  font-size: 1.4rem;
}

.about-us-content {
  max-width: 45%;
  margin-bottom: 20px;
}

.about-us-container h2 {
  color: var(--secondary-color);
}

.about-left-side {
  width: 65%;
}

.about-right-side {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.employee-img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid var(--secondary-color);
}

.logo-img {
  width: 20em;
  height: auto;
}

.disclaimer-text {
  color: var(--secondary-color);
  font-size: 0.8rem;
  margin-top: 10px;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 5px solid var(--secondary-color);
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("/landscape-burger.jpg") no-repeat center center/cover;
  background-position: center;
  height: 100%;
  padding-bottom: 5rem;
  color: white;
}

.benefits h2 {
  text-align: center;
  font-size: 2rem;
  background-color: rgba(35, 31, 32, 0.85);
  padding: 20px;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
}

.benefits-text {
  display: flex;
  justify-content: space-between;
  width: 75%;
  background-color: rgba(35, 31, 32, 0.85);
  padding: 50px 40px 50px 40px;
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
}

.benefit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 18%;

  font-size: 1.2rem;
}

.benefit p {
  text-align: center;
  margin: 10px 0;
  padding: 0;
  word-spacing: 2px;
  border-radius: 5px;
}

.benefit button {
  background-color: var(--secondary-color);
  font-family: inherit;
  font-weight: bold;
  font-size: large;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.benefit button:hover {
  background-color: var(--secondary-darker);
}

.benefit h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  color: var(--secondary-color);
}

img,
button {
  user-select: none;
}

@media (max-width: 768px) {
  .about-us-container,
  .benefits-text {
    flex-direction: column;
  }

  .about-left-side,
  .about-right-side,
  .benefit {
    width: 100%;
    margin-bottom: 20px;
  }
}
