header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--primary-color);
  text-align: center;
  padding: 1em;
  padding-bottom: 25px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: 25px;
  color: white;
  border-bottom: 5px solid var(--secondary-color);
}

.logo-container {
  background-color: var(--primary-color);
  padding: 5px;
  border-bottom: 3px solid var(--secondary-color);
  border-right: 3px solid var(--secondary-color);
  border-bottom-right-radius: 30%;
  position: fixed;
  z-index: 1;
  top: 10;
  left: 0;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-top: 1.5rem;
}

.logo-image {
  z-index: 9999;
  width: 80px;
  height: fit-content;
}

h1 {
  margin-left: 10px;
  margin-right: 10px;
  color: var(--secondary-color);
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  margin-top: 15px;
}

.nav-bar a {
  margin: 0 15px;
  margin-top: 5px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #000;
  margin-right: 10px;
}

.nav-bar a:last-child {
  border-right: none;
}

.nav-bar a:hover {
  color: var(--secondary-darker);
}

.borger-logo {
  height: 80px;
  width: 80px;
}

.cart-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.cart-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 2.5% auto;
  margin-right: 1rem;
  padding: 20px;
  border: 3px solid var(--secondary-color);
  border-radius: 20px;
  width: 20%;
  position: relative;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--secondary-border);
  margin-bottom: 20px;
  height: 80px;
  width: 100%;
  padding-right: 10px;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

.item-info h3 {
  margin: 0;
}

.cart-item h3 {
  text-align: center;
}

.cart-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.cart-button-container {
  position: fixed;
  top: 10;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.cart-button {
  background-color: var(--secondary-color);
  font-family: inherit;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

.cart-button:hover {
  background-color: var(--secondary-darker);
}

.close-button {
  color: var(--secondary-color);
  position: absolute;
  right: 10px;
  top: 5px;
  border: none;
  background-color: transparent;
  font-size: 1.2em;
}

.quantity-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin-left: 20%;
}

.quantity-control button {
  background-color: var(--secondary-color);
  border: none;
  color: var(--primary-color);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.quantity-control button:hover {
  background-color: var(--secondary-darker);
}

.quantity-control p {
  margin: 0 10px;
}

.checkout-button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: bold;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
  margin-top: 10%;
  text-decoration: none;
}

.checkout-button:hover {
  background-color: var(--secondary-darker);
  cursor: pointer;
}
