.home-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 40px);
  z-index: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 5rem;
  align-items: center;
  background-color: var(--background-color);
  overflow: hidden;
  overflow-x: hidden; /* Prevents horizontal overflow */
  overflow-y: hidden; /* Prevents vertical overflow */
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.85));
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  overflow-x: hidden; /* Prevents horizontal overflow */
  overflow-y: hidden;
}

.hero-text {
  flex: 1;
  max-width: 45%;
}

.hero-text h1 {
  color: var(--secondary-color);
}

.hero-img {
  display: flex;
  width: 150px;
  height: fit-content;
  flex: 1;
  position: relative;
}

.hero-img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.45));
}

.about-us p,
.featured-products p,
.testimonials p {
  line-height: 1.6;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px;
  overflow: hidden;
}

.container-title {
  color: var(--secondary-color);
}

.benefits {
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.85));
  width: 100%;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.benefits h2 {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.benefits-text {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.benefits-text h3 {
  color: var(--secondary-color);
}

.benefit {
  color: white;
  width: 30%;
}

.disclaimer-text {
  color: var(--primary-darker);
  font-style: italic;
  font-size: medium;
}

.order-now-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 16px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-left: 15rem;
  font-weight: bold;
  position: relative;
}

.order-now-btn:hover {
  background-color: var(--secondary-darker);
  cursor: pointer;
}

.order-now-btn:active {
  transform: scale(0.98);
}

.about-us-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(
    rgba(210, 210, 210, 0.95),
    rgba(255, 255, 255, 0.85),
    rgba(210, 210, 210, 0.95)
  );
  overflow: hidden;
}

.about-left-side {
  flex: 3;
  max-width: 45%;
  padding: 20px;
  text-align: left;
}

.about-right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 80%;
  max-width: 300px;
  height: auto;
}

.benefit small {
  color: var(--secondary-color);
}
