.create-card-modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.25));
}

.create-card-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  border-radius: 20px;
  height: auto;
  width: 600px;

  min-height: fit-content;
  box-sizing: border-box;
}

.create-card-modal-header {
  margin-bottom: 20px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.card-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-form-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.card-form-row:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.card-form-row label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

#expiryDate,
#cvv {
  width: 95%;
}

.card-form-row input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.card-form-row:nth-child(3) {
  flex-direction: row;
  gap: 20px;
}

.card-form-row:nth-child(3) > div {
  width: 100%;
  flex-direction: column;
}

.card-form-row:nth-child(3) > div > label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.card-form-row:nth-child(3) > div > input[type="text"] {
  padding: 10px;
  font-size: 16px;
}

.gen-button-wrapper {
  display: flex;
  justify-content: center;
}

.generate-button {
  margin-top: 10px;
  width: 50%;
  padding: 10px 30px 10px 30px;
  background-color: var(--secondary-color);
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
}

.generate-button:hover {
  background-color: var(--secondary-darker);
}

.disclaimer-wrapper {
  width: 80%;
}

.disclaimer {
  color: var(--secondary-color);
  font-weight: bold;
  padding: 15px 5px 15px 5px;
}

.input-icon-wrapper {
  position: relative;
  width: 100%;
}

.input-icon-wrapper input {
  width: 100%;
}

.input-icon-wrapper .fa-credit-card {
  position: absolute;
  right: 0.1px;
  top: 50%;
  transform: translateY(-50%);
}

.input-icon-wrapper .fa-calendar-days {
  position: absolute;
  right: 0.1px;
  top: 50%;
  transform: translateY(-50%);
}
