.password-change-cotainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  min-width: fit-content;
}

.password-change-info-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.step-message-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.step-message-wrapper p {
  color: var(--secondary-color);
}

.step-message-h4 {
  color: var(--secondary-color);
  text-align: center;
}

.password-change-form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.password-change-button {
  background-color: var(--secondary-color);
  border-radius: 8px;
  font-weight: bold;
  height: 40px;
  font-family: inherit;
  line-height: 1;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  cursor: pointer;
}

.password-change-button:hover {
  background-color: var(--secondary-darker);
}

.password-change-message {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  white-space: normal;
  color: white;
}

.password-strength {
  width: 100%;
  margin-top: 30px;
}

.progress-bar-wrapper {
  display: flex;
  justify-content: center;
}

.progress-bar {
  width: 50%;
  height: 20px;
  background-color: var(--primary-lighter);
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  overflow: hidden;
}

.password-strength-text-wrapper {
  display: flex;
  justify-content: center;
}

.progress-bar-fill {
  height: 100%;
  background-color: #666;
  transition: width 0.25s ease-in-out;
}

.progress-bar-fill.red {
  background: red;
}

.progress-bar-fill.orange {
  background: orange;
}

.progress-bar-fill.green {
  background: green;
}

.password-strength-text.valid {
  color: green;
}

.password-requirements {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.password-requirements li {
  color: gray;
}

.password-requirements li.met {
  color: green;
}

.password-input,
.confirm-password-input {
  padding-right: 40px;
}

.visibility-toggle-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: 5px;
  width: 40px; /* Adjust this value based on your preference */
  border: none;
  background: none;
  color: var(--secondary-color);
  cursor: pointer;
}

.resend-link-wrapper {
  display: flex;
  justify-content: center;
}

.resend-link {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
}

.resend-link:hover {
  color: var(--secondary-darker);
}
