.password-change-cotainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.password-change-info-wrapper {
  margin-top: 15px;
}

.password-change-info-wrapper h4 {
  white-space: nowrap;
}

.password-change-form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  word-wrap: break-word;
}

.password-change-button {
  background-color: var(--secondary-color);
  border-radius: 8px;
  font-weight: bold;
  height: 40px;
  width: 50%;
  font-family: inherit;
  line-height: 1;
  margin-top: 20px;
  cursor: pointer;
}

.password-change-button:hover {
  background-color: var(--secondary-darker);
}
