.shipping-info-modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.25));
}

.shipping-info-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0 60px 20px 60px;
  border: 3px solid var(--secondary-color);
  border-radius: 20px;
  width: 50%;
  height: 80%;
  min-width: fit-content;
  min-height: fit-content;
  box-sizing: border-box;
}

.shipping-modal-header {
  margin-bottom: 20px;
}

.addresses-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.address-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--secondary-color);
  padding: 20px;
  width: 60%;
  border-radius: 5px;
  color: white;
}

.add-address-tile {
  display: flex;
  color: var(--secondary-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ddd;
  cursor: pointer;
}

.add-address-tile:hover {
  background-color: var(--primary-lighter);
}

.add-address-tile span {
  font-size: 50px;
  margin-bottom: 10px;
}

.address-button-wrapper {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-self: flex-end; /* Stick to bottom of the flex container */
}

.address-button {
  background: none;
  border: none;
  color: var(--secondary-color);
  text-decoration: underline;
  cursor: pointer;
}

.address-button:hover {
  color: var(--secondary-darker);
}
